body {
    display: flex;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* sidebar */

.sidebar {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.projects {
    list-style-type: none;
}

.projects li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-top: 1px solid gray;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.project {
    cursor: pointer;
}

.project-list-project-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.project-option {
    margin-left: auto;
}

.option-dialog {
    background-color: gray;
    position: absolute;
    top: 30px;
    left: 140px;
    width: 100px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 1;
}

.chosen {
    background-color: #DCDCDC
}

/* todo list */

.container {
    box-sizing: border-box;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.todo {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}

.todo-title {
    font-weight: bold;
}

.duedate {
    color: gray;
    margin-left: auto;
}

.todo:hover {
    background-color: whitesmoke;
}

button {
    cursor: pointer;
}

/* todo add dialog */

.dialog-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* todo datail dialog */

.todo-detail-dialog {
    width: 200px;
}

.todo-datail-dialog-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-datail-container {
    justify-content: space-between;
    display: flex;
}

.todo-datail-property {
    width: 100px;
    font-weight: bold;
}

.todo-datail {
    text-align: center;
}