body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

h1,
h2 {
    margin: 0;
}

.none {
    display: none !important;
}


/* sidebar */
.sidebar {
    background-color: whitesmoke;
    padding: 20px;
}

.special-project-list,
.project-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.special-project,
.project {
    display: flex;
    justify-content: space-between;
}

.project-list-project-title::before {
    content: "#";
}

/* main */
main {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.project-edit-btn {
    font-size: 18pt;
    color: gray;
    margin-right: auto;
}

.todo-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo {
    display: flex;
    gap: 15px;
    border-left: 5px solid;
    padding-left: 10px;
    align-items: center;
}

.High {
    border-color: red;
}

.Medium {
    border-color: orange;
}

.Low {
    border-color: green;
}

.duedate {
    color: gray;
    margin-right: auto;
}

/* dialogs */
/* project dialog */
.todo-datail-dialog-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* todo-dialog */
.todo-dialog-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.priority-btn-container {
    display: flex;
    gap: 10px;
}

.priority-btn {
    background-color: white;
}

.priority-btn.selected {
    background-color: aquamarine;
}

/* todo-detail-dialog */
.todo-detail-dialog {
    width: 400px;
}

.todo-datail-dialog-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-datail-container {
    justify-content: space-between;
    display: flex;
}

.todo-datail-property {
    width: 100px;
    font-weight: bold;
}

.todo-datail {
    text-align: center;
}