:root {
    --gray: #bbb;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    color: #181818;
}

h1,
h2 {
    margin: 0;
}

.none {
    display: none !important;
}

.bold {
    font-weight: bold;
}

button,
input[type=checkbox],
.project-edit-btn,
.sort-container,
#show-all-btn,
#show-incomplete-btn,
.todo {
    cursor: pointer;
}


/* sidebar */
.sidebar {
    flex: none;
    width: 170px;
    background-color: whitesmoke;
    padding: 20px;
}

.sidebar-search {
    margin-top: 20px;
}

.special-project-list,
.project-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.special-project-list {
    margin: 10px 0 20px 0;
}

.project-list {
    margin: 10px 0 0 0;
}

.special-project,
.project,
.add-project-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 5px;
}

.add-project-btn {
    border: none;
    background-color: whitesmoke;
    width: 170px;
    height: 31.6px;
    font-size: 16px;
    font-family: inherit;
}

.special-project:hover,
.project:hover,
.add-project-btn:hover {
    background-color: #ddd;
}

.project-list-project-title {
    margin-right: auto;
}

/* .project-list .project-list-project-title::before {
    content: ;
    margin-right: 10px;
    font-weight: bold;
} */


.notification {
    background-color: red;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* main */
main,
.search-section {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-title-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.project-edit-btn {
    font-size: 18pt;
    color: #c4c4c4;
    margin-right: auto;
}

.delete-project-btn,
.search-btn {
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}

.delete-project-btn:hover,
.search-btn:hover {
    background-color: #eee;
}

.utility-bar {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #c4c4c4;
}

.sort-container,
.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-container div {
    color: gray;
}

.filter-container .sort-selected {
    color: #181818;
    /* font-weight: bold; */
}

.todo-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    margin-bottom: 0;
}

.todo {
    display: flex;
    gap: 15px;
    border-left: 5px solid;
    padding-left: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd !important;
    height: 50px;
    /* transition: color 3s ease, text-decoration 3s ease, opacity 3s ease; */
}

/* 
.todo:first-child {
    border-top: 1px solid var(--gray) !important;
} */

.todo:hover,
.todo-add-btn:hover {
    background-color: #eee;
}

.done {
    color: gray;
    text-decoration: line-through;
}

.High {
    border-color: red;
}

.Medium {
    border-color: orange;
}

.Low {
    border-color: green;
}

.duedate {
    color: gray;
    margin-right: auto;
}

.todo-add-btn {
    height: 50px;
    background-color: white;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: gray;
    border-bottom: 1px solid #ddd;
}

/* dialogs */
/* project dialog */
.todo-datail-dialog-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* todo-dialog */
.todo-dialog-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.priority-btn-container {
    display: flex;
    gap: 10px;
}

.priority-btn {
    background-color: white;
}

.priority-btn.selected {
    background-color: aquamarine;
}

/* todo-detail-dialog */
.todo-detail-dialog {
    width: 400px;
}

.todo-datail-dialog-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-datail-container {
    justify-content: space-between;
    display: flex;
}

.todo-datail-property {
    width: 100px;
    font-weight: bold;
}

.todo-datail {
    text-align: center;
}

/* search tab */
.search-input-container {
    width: 100%;
    display: flex;
    gap: 10px;
}

.search-input {
    flex-grow: 1;
    padding: 5px 0;
}